* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*1rem = 16px*/
    font-size: 62.5%; /*10px*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 220, 245);
}

header {
    background: linear-gradient(to right, #b567ff, #390061);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.9rem;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-links a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

header a:hover {
    color: rgb(185, 146, 228);
}

.infos-principais {
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem;
}


@media (min-width: 700px) and (max-width: 1000px) {
    body {
        background-color: black;
    }

    header h1 {
        font-size: 4.1rem;
    }
}

@media (min-width: 1000px) {
    body {
        background-color: white;
    }
}