<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de conclusão do 1° período do curso de Engenharia de Software</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="" alt="Logo do site">
            <h1>Nome do site</h1>
        </div>
        <nav class="menu-links">
            <a href="#">info1</a>
            <a href="#">info2</a>
            <a href="#">info3</a>
            <a href="#">info4</a>
        </nav>
    </header>
    <main>
        <div class="infos-principais">
        <h1>Informações</h1>
        <h2>WOW MAIS INFORMAÇÕES</h2>
        <h3>QUE INCRÍVEL!</h3>
        <p>Aqui tem mais informações ainda</p>
        </div>
    </main>
</body>
</html>